body {
	font-family: 'Roboto', sans-serif;
	margin: 0px;
}

:root {
	--primary-blue: #0065FC;
	--secondary-blue: #DEEBFF;
	--primary-grey: #F2F2F2;
}

header {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

main {
	max-width: 1200px;
	padding: 10px;
	margin: auto;
}

#heb-act {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

nav {
	justify-content: center;
}

nav > div > a {
	margin: 10px 10px;
}

h1 {
	color: var(--primary-blue);
	font-family: 'Rancho', cursive;
	font-size: 4em;

	margin: 0 0 0 20px;
}
h2, p {
	margin: 10px;
}

footer {
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: var(--primary-grey);
}

footer > div {
	flex: 1 1 200px;
	margin: 10px;
}

a {
	color : var(--primary-blue);
	text-decoration: none;
}

section > div> h2 {
	margin-left: 30px;
}

ul {
	list-style-type: none;
	padding-left: 0px;
}

.fa {
	color:var(--primary-blue);
}

.fa-search {
	background-color: var(--primary-blue);
	color: white;
	border-radius: 10px;
	padding: 10px;
	transition: all 0.5s;
}

.grey-star {
	color:#D9D9D9;
}

.nav-selected {
	border-top: 1px var(--primary-blue) solid;
	padding-top: 3px;
}

/* Paquet de cartes */
.card-pack {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	column-gap: 10px;
	row-gap: 10px;
}

/* Carte */
.card {
	background-color: white;
	border-radius: 15px;
	border: 4px white solid;
	background-repeat: no-repeat;
	display: flex;
	justify-content: space-between;
	min-width: 200px;
}

/* Carte texte */
.card  > div:nth-child(2) {
	background-color:white;
	padding: 5px;
}

/* Carte texte "nuit a partir de" */
.card > div > div:nth-child(2) {
	margin: 2px;
	font-size: 0.8em;
}

/** *** HEBERGEMENT *** **/
#hebergement-ville,
#hebergement-populaire
{
	background-color: var(--primary-grey);
	border-radius: 15px;
	padding: 10px;
	transition: 1s;
}

#hebergement {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
	column-gap: 10px;
	row-gap: 10px;
}

/* ville */
#hebergement-ville {
	column-gap: 10px;
	flex: 3 0;
}

#hebergement-ville-pack > .card{
	flex-direction: column;
	flex: 0 0 220px;
	background-size: 100%;
	height : 190px;
}

/* populaire */
#hebergement-populaire {
	flex: 1 1 200px;
}

#hebergement-populaire-pack {
	display: flex;
	flex-direction: column;
}

#hebergement-populaire-pack > .card {
	display: flex;
	justify-content: start;
	overflow: hidden;
}

.pop-img {
	/*object-fit: cover;*/
	background-size: cover;
	background-position: center;
	height : 120px;
	min-width: 100px;
	max-width: 200px;
	background-color: white;
}

/** *** ACTIVITE *** **/
#activites-pack {
	margin-bottom: 20px;
}

.big-card > .card  {
	box-shadow: 2px 2px 4px 4px #F4F4F4;
	background-size: 100%;
	background-repeat: no-repeat;
	min-width: 250px;
	flex-direction: column;
	border: 0px;
	height: 150px;
}

.big-card {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	flex: 1 1 200px;
}

.big-card:nth-child(2n+1) > div  {
	height: 310px;
	background-size: 450px;
}

.big-card > .card > div:nth-child(2) {
	border-radius: 0 0 10px 10px;
}

/** *** FILTRES *** **/
#filtres {
	display:flex;
	flex-wrap: wrap;
	font-size:1em;
	font-weight: bold;
	row-gap: 10px;
	column-gap: 10px;
}

#filtres > button > i{
	background-color: var(--secondary-blue);
	border-radius: 30px;
	box-shadow: 0 0 0 1px #D9D9D9 inset;
	padding: 10px;
	transition: all 0.5s;
}

#filtres > button {
	font-size:1em;
	font-weight: bold;
	background-color: white;
	border-radius: 30px;
	box-shadow: 0 0 0 1px #D9D9D9 inset;
	padding-left: 0px;
	transition: all 0.5s;
}

#filtres > button:hover {
	background-color: var(--secondary-blue);
	transition: all 0.5s;
	box-shadow: 0 0 0 2px var(--primary-blue) inset;
}

#filtres > button:hover > i{
	background-color: var(--primary-blue);
	box-shadow: 0 0 0 2px var(--primary-blue) inset;
	color: white;
}

/** *** RECHERCHE *** **/
#mega-input {
	display : flex;
	max-width: 400px;
	overflow: hidden;
	margin: 20px;
	border-radius: 15px;
	border: 1px #D9D9D9 solid;
	/* Pour que le width du container flex parent ne prenne pas toute la page*/

}
#mega-input > input {
	border: 0px;
	flex: 2 1 200px;
	/** https://stackoverflow.com/questions/42421361/input-button-elements-not-shrinking-in-a-flex-container */
	min-width: 0;
}

#mega-input > input:focus {
	outline-color: var(--primary-blue);
}

.fa-map-marker-alt {
	color: black;
	background-color: var(--primary-grey);
	padding: 10px;
}

#mega-input > input[type="submit"] {
	padding: 15px;;
	flex: 1 1 120px;
	color:white;
	background-color:var(--primary-blue);
	font-weight: bold;
}

.clickable {
	display: block;
	cursor: pointer;
	outline: none;
	border: none;
}

/** *** IMAGES CARTES *** **/
#heb1 { background-image: url("img/heb1.jpg"); }
#heb2 { background-image: url("img/heb2.jpg"); }
#heb3 { background-image: url("img/heb3.jpg"); }
#heb4 { background-image: url("img/heb4.jpg"); }
#heb5 { background-image: url("img/heb5.jpg"); }
#heb6 { background-image: url("img/heb6.jpg"); }

#pop1 > .pop-img { background-image: url("img/pop1.jpg"); }
#pop2 > .pop-img  { background-image: url("img/pop2.jpg"); }
#pop3 > .pop-img  { background-image: url("img/pop3.jpg"); }

#act1 { background-image: url("img/act1.jpg"); }
#act2 { background-image: url("img/act2.jpg"); }
#act3 { background-image: url("img/act3.jpg"); }
#act4 { background-image: url("img/act4.jpg"); }
#act5 { background-image: url("img/act5.jpg"); }
#act6 { background-image: url("img/act6.jpg"); }

@media screen and (max-width: 900px) {
	#hebergement {
		flex-direction: column;
	}
}
@media screen and (max-width: 500px) {
	header {
		flex-direction: column;
	}

	nav {width: 100%;}

	#heb-act > a {
		flex-basis: 50%;
		text-align: center;
		margin-left: 0px;
		margin-right: 0px;
		border-top: 0px;
		padding-bottom: 10px;
	}

	#heb {
		border-bottom: 3px solid blue;
	}
	#act {
		border-bottom: 3px solid lightgrey;
	}

	#heb-act > a {
		margin-bottom: 0px;
	}

	#hebergement {
		flex-direction: column;
	}

	#hebergement-populaire {
		order: 1;
	}
	#hebergement-ville {
		order: 2;
	}
	#hebergement-ville-pack > .card {
		flex: 1 0 220px;
	}

	.big-card > div {
		height: 180px !important;
	}
}

@media screen and (max-width: 350px) {
	.fa-search {
		display: block;
	}
	#mega-input > input[type="submit"] {
		display: none;
	}
}

@media screen and (min-width: 350px) {
	.fa-search {
		display: none!important;
	}
}